

.sidebar__logo img {
    width: 100%;
    height: 40px;
}

.sidebar__toggle--btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
}

.sidebar__overlay--hidden {
    opacity: 0;
    pointer-events: none;
}


.sidebar {
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}

.sidebar__top {
    flex: 1 1;
    margin-top: 40px;
}

.sidebar__link--wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}

.sidebar__link--wrapper:last-child {
    margin-bottom: 0;
}

.active--tab {
    background-color: #2bd97c!important;
}

.sidebar__link--line {
    width: 5px;
    height: 100%;
    background-color: transparent;
    margin-right: 16px;
}

.sidebar__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 24px;
}

.sidebar__link--not-allowed {
    cursor: not-allowed;
}

.sidebar__link--not-allowed:hover {
    background-color: transparent;
}

.sidebar__link--wrapper:hover {
    background-color: #f0efef;
}